* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

header {
  background-image: url('./img/img.jpg');
  background-repeat: no-repeat;
  background-color: #F8FAFB;
  background-size: fixed;
  background-position: center;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

li a {
  padding: 5px;
  background-color: seashell;
  text-decoration: none;
  color: black;
  font-style: italic;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a  {
  background-color: royalblue;
  color: #F8FAFB;
  cursor: pointer;
  text-decoration: none;
}